.container1{
    background-color:black;
    height:1000px;
}
.messageBubble{
  position: absolute;
  left: 5%;
  top: 0px;
  transform: scaleY(-1);
}
.messageText{
    
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom:0px;
    
}
.bubbleImg {

    background-image: url('../images/section1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    transform: scaleY(-1);
    height: 0;
    padding-top: 45.2%;

}



