.backdrop {
  padding-top: 100px;
  padding-bottom: 100px;

  margin: 0%;

  background-color: #000000;
  
  max-width: 100%;
}

.mainContent {
  height: 90%;
  max-width: 100%;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  padding-bottom: 3%;
  background-color: #090909;
  border-radius: 2px;
}
.headTitle {
  color: rgb(235, 235, 235);
  text-align: center;
  padding: 10px;
  padding-bottom: 30px;
    font-size: 32px;
}
.bodyContent {
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: auto auto ;
  grid-template-areas: "gallery rightcontent ";
  padding-left: 20px
}

/* .gallery {
  
  display: grid;
  grid-gap: 3px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "galleryImage galleryImage galleryImage"
    "galleryImage galleryImage galleryImage"
    "galleryImage galleryImage galleryImage";
} */

/* .galleryImage {
    width: 100%;
    height: 100%;
    object-fit: cover;

  /* background-image: url("../images/grid1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0;
  padding-top: 55.2%;

  padding-right: 100px;
} */

.rightContent{
    padding: 10%
}
.articleHeader{
    color: rgb(230, 230, 230);
    font-size:  3vw;
}
.links {
    display: grid;
    
    
    grid-template-columns: auto;
    
    grid-template-areas:
    "link link";
}
.link{
    font-size: 21px;
    color: rgb(0, 122, 223);
    text-align: center;
    text-decoration: none;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}
.gallery__item--1:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .gallery__item--2:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .gallery__item--3:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .gallery__item--4:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .gallery__item--5:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .gallery__item--6:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.gallery__item--1 {
    background-image: url("../images/grid1.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
    transition: transform .2s; /* Animation */


    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--2 {
    background-image: url("../images/grid4.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 

    transition: transform .2s; /* Animation */
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--3 {
    background-image: url("../images/grid2.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 

    transition: transform .2s; /* Animation */
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}
.gallery__item--4 {
    background-image: url("../images/grid3.jpg");
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 

    transition: transform .2s; /* Animation */
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}
.gallery__item--5 {
    background-image: url("../images/grid5.jpg");
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 

    transition: transform .2s; /* Animation */
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}
.gallery__item--6 {
    background-image: url("../images/grid8.jpg");
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 

    transition: transform .2s; /* Animation */
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}