.container1{
    background-image: url(./images/section1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container2{
    background-image: url(./images/section2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container3{
    background-image: url(./images/section3.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container4{
    background-image: url(./images/section4.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}